
.shop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px;
    flex-wrap: wrap;
}

.item_0_items_found {
    display: flex;
    justify-content: center;
    align-items: center;
}