
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: calc(100% - 20px);
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px 0 5px 0;
    background-color: var(--bg);
    z-index: 3;
}

.menu_box {
    cursor: pointer;
    color: white;
    font-size: 28px;
}

.navbar_cart {
    cursor: pointer;
    color: white;
    font-size: 28px;
}

.navbar_cart_indicator {
    position: absolute;
    background-color: var(--red);
    border-radius: 5px;
    right: 0;
    width: 10px;
    height: 10px;
}

.shopping_cart {
    position: fixed;
    right: 0;
    top: 0;
    width: 350px;
    max-width: 80vw;
    height: 100vh;
    padding: 0 25px;
    background-color: white;
}

.shopping_cart_wrapper {

}