
.card_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    background-color: var(--soft);
    padding: 7px;
    border-radius: 10px;
}

.card_details {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.card_img {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.card_image {
    max-width: 100%;
    width: auto;
    height: auto;
    border-radius: 5px;
}

.card_title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
}

.card_inner_wrapper {
    display: flex;
    justify-content: space-between;
}

.card_item_save {
    font-size: 20px;
    margin-right: 5px;
}

.card_item_price {

}
